html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}
.map-viewer-body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.map-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    cursor: grab;
}

    .map-container:active {
        cursor: grabbing;
    }

.map-image {
    position: absolute;
    transform-origin: 0 0;
    transition: transform 0.1s ease-out;
}

.map-attraction {
    position: absolute;
    padding: 5px 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/*inlog pagina hieronder:*/
/*donkerblauw: #092F87*/
.inlogBackground {
    background-image: url(../images/inlogbg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    position: fixed; /* Fixes the element to the viewport */
    top: 50px;
    left: 0;
    z-index: -2
}

.buttonDesignInlog {
    background-color: #092F87;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    display: block;
    padding: 14px 40px;
    transition-duration: 0.4s;
}

.buttonDesignInlog:hover {
    background-color: #FFFFFF;
    color: #092F87;
}

.inlogContents {
    position: relative;
    top: 30%;
    left: 13%;
}

.inlogContents>div {
    padding: 10px;
    align-self: center;
    position: center;
}

.inlogContentsSize {
    width: 320px;
}

.inlogVisible {
    display: block;
}

.aanmaakVisible {
    display: none;
}

/*attractielijst*/
section#attractielijst {
    display: flex;
    flex-direction: column;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    height: 300px;
}

section#attractielijst > div {
    flex-wrap: nowrap;
    padding: 20px;
    border: solid black 1px;
    height: 230px;
    }
