@page
@model AttractielijstModel
@{
    ViewData["Title"] = "Attractielijst";
}
<body>
    <section id="attractielijst">
        <div class="attractielijstItem">
            <a>attractie 1</a>
            <p>dit is geweldig</p>
        </div>
        <div>
            <a>troy</a>
            <p>hier is info voor de troyhier is info voor de troyhier is info voor de troyhier is info voor de troyhier is info voor de troyhier is info voor de troyhier is info voor de troyhier is info voor de troy</p>
        </div>
        <div>attractie 3</div>
    </section>
</body>

