@page
@model IndexModel
@{
	ViewData["Title"] = "kaart";
}

<main class="inlogBackground">
	<section class="inlogContents">
		<div>
			<input class="inlogContentsSize" placeholder="naam" />
		</div>
		<div>
			<input class="inlogContentsSize" placeholder="wachtwoord" />
		</div>
		<div>
			<button class="inlogContentsSize buttonDesignInlog">account aanmaken</button>
		</div>
		<div>
			<button class="inlogContentsSize buttonDesignInlog">login</button>
		</div>
	</section>
</main>