@page
@model IndexModel
@{
    ViewData["Title"] = "kaart";
}

<div class="inlogBackground">
<div item>
    <input placeholder="naam" />
    <input placeholder="wachtwoord"/>
</div>

<div>
<button class="accountAanmakenButton">account aanmaken</button>
<button class="loginButton">login</button>
</div>
</div>
