@page
@model IndexModel
@{
	ViewData["Title"] = "inlog pagina";
}

<main class="inlogBackground">
	<form method="post" class="inlogContents">
			<div>
				<input asp-for="Email" class="inlogContentsSize" placeholder="Email" />
			</div>
			<div>
				<input asp-for="Wachtwoord" class="inlogContentsSize" placeholder="Wachtwoord" />
			</div>

			<div>
				<button type="submit" asp-page-handler="Login" class="inlogContentsSize buttonDesignInlog">login</button>
			</div>
			<div>
				<button class="inlogContentsSize buttonDesignInlog" onclick="showPopup()">Show Popup</button>
			</div>
			<div class="loginError" style="color: red;">
				@Model.ErrorMessage
			</div>
	</form>	
</main>
