@page
@model KaartModel
@{
	ViewData["Title"] = "kaart";
}

<body>
    <div class="map-container" id="mapContainer">
        <img src="/images/plattegrond.png"
             alt="Map"
             class="map-image"
             id="mapImage" />
    </div>


	<div class="infoboxbutton">
		<button type="button" onclick="alert('wassup')">hai</button>
	</div>
</body>